body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh; /* Ensure content stretches to at least the height of the viewport */
    display: flex;
    flex-direction: column;
}

.myHeader {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.myHeader h1 span {
    color: #ff6f61;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61;
}

main {
    flex: 1; /* Take up remaining vertical space */
    padding: 20px;
}

.section {
    padding: 50px;
    text-align: center;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.contact li{
    list-style-type: none;
    
}
.contact li:hover{
    color: #ff6f61;


}